body{
font-family: 'Open Sans', sans-serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: ivory;
}

h1,h2 {
  font-family: 'Oswald', sans-serif;
}

img {
  float: left;
  margin-right: 10px;
}
.column1{
  float: left;
  width: 300px;
  padding: 1em;
}


.column3 {
  float: right;
  width: 300px;
  padding: 1em;
}

.column2{
  margin-left: 300px;
  margin-right: 300px;
  padding: 1em;
}